body{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #C0C0C0;
}

.container{
	width: 80%;
}

.form-group{
	//padding: 0;
}

img{
	height: 50px;
}

.content_in{
	text-align: center;
}

.content_in div:hover{
	background: white;
	cursor: pointer;
}

.content_in p{
	margin-bottom: 0px;
}

.page{
	text-align: center;
}

.foot{
	color: black;
	text-align: center;
}

.foot a{
	color: black;
}