body{
	background-image: url("../img/myroom.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container{
	width: 80%;
	padding: 0px;
	background-color: #337ab7;
}

img{
	height: 50px;
}

.panel-body{
	text-align: center;
}

.foot{
	color: #C0C0C0;
	text-align: center;
}

.foot a{
	color: #C0C0C0;
}

.col-xs-2:hover{
	background: #C0C0C0;
	cursor: pointer;
}

.col-xs-2 p{
	margin-bottom: 0px;
}