body{
	//background-color: #ebebeb;
}

.header{
	background-image: url(../img/lun.jpg);
	text-align: center;
	color: black;
}

.main-navigation {
	padding: 0;
}

#example-navbar-collapse{
	width: 400px;
	margin:0 auto;
}

.icon {
	float: right !important;
}

.icon img {
	float: left;
	padding: 0;
	height: 30px;
	margin-top: 10px;
}

.icon a{
	float: left;
}

.right-1,
.right-2,
.right-3,
.right-4{
	margin-bottom: 30px;
	background-color: #ebebeb;
}

.list-group,
.table{
	margin-bottom :0px;
}

.left{
	margin-right: 10px;
}

.page-header,
.content{
	background-color: #ebebeb;
}

.search,
.content{
	border-bottom: 1px solid #C0C0C0;
}

.page-header{
	margin-top: 0;
	//text-align: center;
}

.foot{
	color: black;
	text-align: center;
}

.foot a{
	color: black;
}

.page{
	text-align: center;
}

.dropdown-menu li,
.dropdown-menu li a{
	width: 100%;
}

.content:hover {
	//margin-bottom: 10px;
	background: #C0C0C0;
	cursor: pointer;
}