body{
	background-image: url("../img/myroom.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container{
	width: 80%;
}

.header{
	background-image: url(../img/room_header.jpg);
	text-align: center;
	padding-top:10px;
	color: #C0C0C0;
}

.header img{
	height: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header h3{
	margin-bottom: 0px;
}

.headerbottom{
	padding-bottom: 20px;
}

.content:hover {
	background: #C0C0C0;
	cursor: pointer;
}

.content{
	border-bottom:1px solid black;
	background-color: #ebebeb;
}

.page{
	text-align: center;
}

.nav-tabs{
	//width: 180px;
	//margin:0 auto;
}

.mynav{
	//text-align: center;
}

.foot{
	color: black;
	text-align: center;
}

.foot a{
	color: black;
}

.nav-tabs li{
	padding: 0px;
}

.nav-tabs a{
	color: #C0C0C0;
}

.nav-tabs:hover a{
	color: #333;
}

.left{
	//padding-left: 0px;
	//padding-right: 0px;
}

.right{
	//padding-left: 0px;
	//padding-right: 0px;
}