body{
	background-image: url("../img/myroom.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container{
	width: 70%;
}

.header{
	background-image: url(../img/room_header.jpg);
	text-align: center;
	color: #C0C0C0;
}

.header img{
	height: 50px;
}

.content:hover {
	//margin-bottom: 10px;
	background: #C0C0C0;
	cursor: pointer;
}

.content{
	background-color: #ebebeb;
}

.page{
	text-align: center;
}

.nav-tabs{
	width: 180px;
	margin:0 auto;
}

.mynav{
	text-align: center;
}

.foot{
	color: #C0C0C0;
	text-align: center;
}

.foot a{
	color: #C0C0C0;
}

.nav-tabs li{
	padding: 0px;
}

.nav-tabs a{
	color: #C0C0C0;
}

.nav-tabs:hover a{
	color: #333;
}