body{
	background-color:#C0C0C0;
}

.container{
	width: 70%;
	
}

.headerimg{
	background-image: url(../img/lun.jpg);
	text-align: center;
	color: black;
}

.navbar-default{
	margin: 0px;
}

.foot{
	padding: 0px;
}

.foot{
	color: black;
	text-align: center;
}

.foot a{
	color: black;
}

#preview{
	width:200px;
	height:200px;
	border:1px solid white;
	overflow:hidden;
}

#imghead {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
}
