body{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #495A80;
}

.header{

}

.container{
	width:80%;
}

.content{
	//padding-top: 20px;
}

.form-signin{
	max-width: 330px;
	margin: 0 auto;
}

.btn{
	text-shadow: black 5px 3px 3px;
}

