<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 开启注解 -->
	<context:annotation-config/>
	
	<!-- 配置连接池 -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 配置C3P0连接池: -->
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- Hibernate的相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置Hibernate的其他的属性 -->
		<property name="hibernateProperties">
			<props>
				<!-- 方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 配置Hibernate的映射文件 -->
		<property name="mappingResources">
			<list>
				<value>mini/user/domain/User.hbm.xml</value>
				<value>mini/post/domain/Post.hbm.xml</value>
				<value>mini/comment/domain/Comment.hbm.xml</value>
				<value>mini/favour/domain/Favour.hbm.xml</value>
				<value>mini/collection/domain/Collection.hbm.xml</value>
				<value>mini/info/domain/Info.hbm.xml</value>
				<value>mini/fans/domain/Fans.hbm.xml</value>
				<value>mini/admin/user/domain/Admin.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 事务管理: -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!--======== Action配置 ========-->
	<bean id="userAction" class="mini.user.action.UserAction" scope="prototype"></bean>
	<bean id="postAction" class="mini.post.action.PostAction" scope="prototype"></bean>
	<bean id="commentAction" class="mini.comment.action.CommentAction" scope="prototype"></bean>
	<bean id="favourAction" class="mini.favour.action.FavourAction" scope="prototype"></bean>
	<bean id="collectionAction" class="mini.collection.action.CollectionAction" scope="prototype"></bean>
	<bean id="infoAction" class="mini.info.action.InfoAction" scope="prototype"></bean>
	<bean id="fansAction" class="mini.fans.action.FansAction" scope="prototype"></bean>
	
	<bean id="adminAction" class="mini.admin.user.action.AdminAction" scope="prototype"></bean>
	<bean id="adminPost" class="mini.admin.post.AdminPost" scope="prototype"></bean>
	<bean id="adminComment" class="mini.admin.comment.AdminComment" scope="prototype"></bean>
	
	<!--======== Service配置 ========-->
	<bean id="userService" class="mini.user.service.UserService"></bean>
	<bean id="postService" class="mini.post.service.PostService"></bean>
	<bean id="commentService" class="mini.comment.service.CommentService"></bean>
	<bean id="favourService" class="mini.favour.service.FavourService"></bean>
	<bean id="collectionService" class="mini.collection.service.CollectionService"></bean>
	<bean id="infoService" class="mini.info.service.InfoService"></bean>
	<bean id="fansService" class="mini.fans.service.FansService"></bean>
	<bean id="adminService" class="mini.admin.user.service.AdminService"></bean>
	
	<!--======== Dao配置 ========-->
	<bean id="userDao" class="mini.user.dao.UserDao"></bean>
	<bean id="postDao" class="mini.post.dao.PostDao"></bean>
	<bean id="commentDao" class="mini.comment.dao.CommentDao"></bean>
	<bean id="favourDao" class="mini.favour.dao.FavourDao"></bean>
	<bean id="collectionDao" class="mini.collection.dao.CollectionDao"></bean>
	<bean id="infoDao" class="mini.info.dao.InfoDao"></bean>
	<bean id="fansDao" class="mini.fans.dao.FansDao"></bean>
	<bean id="adminDao" class="mini.admin.user.dao.AdminDao"></bean>
	
</beans>